@media screen and (max-width: 600px) {
    .logo img {
        height: 146px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .text h1 {
        margin-left: 44px;
    } */

    .homecourses h5 {
        font-size: 21px;
        display: block;
        margin-left: 87px;
        /* margin-right: auto; */
        margin-top: 88px;
    }

    .homebuttons {
        margin-left: -444px;
        margin-top: 24px;
    }

    .copy {
        margin-top: 20px;
        margin-left: 102px;
        color: gray;
    }

    .icons {
        margin-top: -12px;
        display: flex;
        margin-left: 122px;
        margin-bottom: 32px;
    }

     .shadow-lg{
        margin-left: 59px;
    }

    .overflow-hidden{
            margin-left: 25px;
    }

    .shadow-lg{
        margin-left: -3px;
    } 

    /* .videotext{
        margin-left: 145px;
    } */

    .justify-center{
        margin-left: 57px;
        
    }

    .align-middle{
        width: 365px;
    height: 355px;
    }
    .flex {
        margin-left: 7px;
    }

    /* .notestext {
        margin-left: 149px;
        margin-top: 33px;
    } */

    /* .contacttext {
        margin-top: 23px;
        margin-left: 42px;
    } */

    .humm {
        position: absolute;
        top: 75px;
        left: 452px;
        cursor: pointer;
        display: block;
    }
}