* {
    margin: 0;
    padding: 0;

}

.logo img {
    height: 138px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    margin-top: 37px;
}


.text h1 {
    color: white;
    text-decoration: none;
    display: block;
    /* margin-left: 467px;
    margin-top: 12px; */
    text-align: center;
}

.text,
p {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.freecourses {
    display: block;
    margin-left: 528px;
    /* align-items: center; */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color:rgb(17 24 39/var(--tw-text-opacity));
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    border-radius: 0.25rem;
    text-transform: none;
}

.exploreblogs {
    display: block;
    margin-left: 658px;
    margin-top: -40px;
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity));
    border-radius: 0.25rem;
    text-transform: none;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.homebuttons {
    margin-left: 41px;
    margin-top: 24px;
}

.homebuttons a {
    text-decoration: none;
    height: 12px;
    width: 12px;
}

/* Footer */

.logof {
    margin-bottom: 34px;
}

.logof img {
    margin-top: 12px;
    height: 56px;
    margin-left: 38px;
    margin-bottom: 34px;
}

.icons {
    margin-top: -50px;
    display: flex;
    margin-left: 1186px;
    margin-bottom: 32px;
}

.copy {
    margin-top: -33px;
    margin-left: 305px;
    color: gray;
}

.notestext {
    text-align: center;
    margin-top: 33px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    min-height: 100vh;
}

.menu-toggle {
    /* display: none; */
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

.sidebar {
    /* position: fixed; */
    flex: 1 1 0;
    max-width: 214px;
    padding: 2rem 1rem;
    background-color: #2e3047;
    margin-top: -56px;
    transition: transform 0.3s ease-in;
}

.sidebar h3 {
    margin-top: 34px;
    color: #707793;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
    border-right: 5px solid #3bba9c;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.content h1 {
    color: #3C3F58;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content p {
    color: #707793;
}


/* 
.mx-8{
    margin-left: 215px;
} */

.formtext{
    margin-top: 21px;
}

.in{
    height: 24px;
    width: 363px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 13px;
    border: 1px solid gray;
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

section{
    border: 1px solid gray;
    margin-top: 39px;
    /* width: 747px; */
    margin-left: 296px;
    /* height: 437px; */
    /* margin-bottom: -1159px; */
    border-radius: 12px;
    height: 361px;
    width: 778px;
}

.container{
    margin-top: 27px;
}

.container h4{
    margin-bottom: 12px;
}

.submit{
    margin-top: 0px;
    display: block;
    float: right;
    margin-right: 194px;
    height: 33px;
    width: 74px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: rgb(168 85 247/var(--tw-bg-opacity));
    color: white;
}

.submit:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234/var(--tw-bg-opacity));
}

.hello{
    text-align: center;
    font-family: monospace;
}

.help{
    text-align: center;
    font-family: monospace;
    font-size: 28px;
}

body{
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
}

.reco h3{
    text-align: center;
    margin-top: 44px;
    font-family: monospace;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(126 34 206/var(--tw-text-opacity));
}
/* 
.cross {
    position: absolute;
    top: 98px;
    right: 1164px;
    cursor: pointer;
    position: absolute;
    top: 106px;
    right: 162px;
    cursor: pointer;
    display: block;
}*/

.humm {
    /* position: absolute;
    top: 98px;
    left: 16px;
    cursor: pointer; */
    position: absolute;
    top: 97px;
    left: 1197px;
    cursor: pointer;
    display: block;
    --tw-text-opacity: 1;
    color: rgb(126 34 206/var(--tw-text-opacity));
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}